/* Master theme that imports all partials */
@import url("../core/variables.css");
@import url("../core/base.css");
@import url("../components/buttons.css");
@import url("../components/forms.css");
@import url("../components/tables.css");
@import url("../components/sidebar.css");
@import url("../components/dialogs.css");
